<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}">
    <title>JustHero</title>

</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">JustHero</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{heros}">Les heros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{form}">Ajout de hero</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/incident/form}">Déclarer un incident</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<style>
    #map { height: 580px; }
</style>

<body class="container">
    <h1 class="display-4">Super-Héros dans votre périmètre</h1>
    <ul>
        <li class="nav-item">
            <label>latitude:</label>
            <label th:text="${incident.latitude}"></label>
        </li>
        <li class="nav-item">
            <label>longitude:</label>
            <label th:text="${incident.longitude}"></label>
        </li>
    </ul>
    <div id="map"></div>
</body>

<script>

    window.onload = function()
    {
        carte = L.map('map').setView([50.62780642114285, 3.0705958641496514], 8); L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png',
        {
        attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
        minZoom: 1,
        maxZoom: 20
        }).addTo(carte);

        var marker = L.marker([50.62780642114285, 3.0705958641496514]).addTo(carte);

        var circle = L.circle([50.62780642114285, 3.0705958641496514], {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 50000
        }).addTo(carte);
    };

</script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
</html>