<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}">
    <title>JustHero</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">JustHero</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{hero/heros}">Les heros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{hero/heros}">Ajout de hero</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/incident/form}">Déclarer un incident</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<body>
<div class="container mt-3">

    <div class="jumbotron text-center mt-3">
        <h1 class="display-3">Hero Ajouté !</h1>
        <p class="lead">Le hero à bien été ajouté</p>
        <hr>
        <div class="form-group">
            <ul class="nav-pills">
                <li class="nav-item">
                    <label>id:</label>
                    <label th:text="${hero.id}"></label>
                </li>
                <li class="nav-item">
                    <label>nom:</label>
                    <label th:text="${hero.nom}"></label>
                </li>
                <li class="nav-item">
                    <label>latitude:</label>
                    <label th:text="${hero.latitude}"></label>
                </li>
                <li class="nav-item">
                    <label>longitude:</label>
                    <label th:text="${hero.longitude}"></label>
                </li>
                <li class="nav-item">
                    <label>tel:</label>
                    <label th:text="${hero.tel}"></label>
                </li>
                <li class="nav-item">
                    <label>Incidents:</label>
                    <label th:each="h:${hero.incidents}" th:text="${h.nom}"></label>
                </li>
            </ul>

        </div>
        <p class="lead">
            <a class="btn btn-primary btn-sm" th:href="@{/hero/heros}" role="button">Liste des Super-Heros</a>
        </p>
    </div>

</div>
</body>
</html>