<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="Layout" lang="fr">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}">
    <title>JustHero</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <div class="container mt-3" >
        <form th:action="@{heros}" method="get">
            <label>Nom : </label>
            <input type="text" name="nom" th:value="${nom}"/>
            <button class="btn btn-info">Rechercher</button>
        </form>
    </div>
    <h1>
        Liste des Heros
        <a th:href="@{/hero/form}"><button type="button" class="btn btn-secondary">Ajout</button></a>
    </h1>
    <table class="table">
    <thead>
        <th>ID</th>
        <th>Nom</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Tel</th>
        <th>Incidents gérés</th>
    </thead>
    <tbody>
    <tr th:each="h:${listHeros}">
        <td th:text="${h.id}"></td>
        <td th:text="${h.nom}"></td>
        <td th:text="${h.latitude}"></td>
        <td th:text="${h.longitude}"></td>
        <td th:text="${h.tel}"></td>
        <td> <span th:each="i:*{h.incidents}" th:text="${i.nom}"></span></td>
        <!--<td><a th:href="@{delete(id=${h.id}, page=${pageCourante}, size=${size}, nom=${nom})}">Supprimer</a></td>-->
    </tr>
    </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="nav nav-pills">
            <li class="nav-item" th:class="${pageCourante}==${status.index}?'active':''" th:each="page,status:${pages}" >
                <a class="nav-link" th:href="@{heros(page=${status.index}, size=${size}, nom=${nom})}" th:text="${status.index}"></a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>